body {
  font-family: 'Hubballi', cursive;
  background-color: #f1f5f9;
  font-size: 1.6rem;
}
header {
  background-color: #0ea5e9;
  padding: 1.5rem;
  border-bottom: 1rem solid #0284c7;
}
header h1 {
  text-align: center;
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 3rem;
  margin:0;
}
.dos-columnas {
  display: grid;
  gap: 4rem;
}
@media (min-width: 768px) {
  .dos-columnas {
    grid-template-columns: repeat(2, 1fr);
  }
}
main {
  margin: 4rem auto;
  max-width: 1200px;
}
.contenedor {
  margin: 0 auto 2rem auto;
  border-radius: .5rem;
  background-color: white;
  padding: 4rem;
  -webkit-box-shadow: 0px 10px 33px -17px rgba(173,173,173,1);
  -moz-box-shadow: 0px 10px 33px -17px rgba(173,173,173,1);
  box-shadow: 0px 10px 33px -17px rgba(173,173,173,1);
  width: 100%;
}
form {
  width: 100%;
}
.campo {
  max-width: 400px;
  margin: 0 auto 1rem auto;
}
.campo label {
  display: block;

}
.campo input,
.campo select {
  all: unset;
  border: 1px solid #cbd5e1;
  width: 100%;
  border-radius: 1rem;
  padding: .5rem;
}

 input[type="submit"] {
  background-color: #0ea5e9;
  margin: 2rem auto 0 auto;
  display: block;
  padding: 1rem 3rem;
  color: white;
  text-transform: uppercase;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  border: none;
  width: 100%;
  transition: background-color .3s ease;
}
@media (min-width: 768px) {
   input[type="submit"]  {
     max-width: 400px;
  }
}
 input[type="submit"]:hover {
  background-color: #0369a1;
}


.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.clima > p:first-of-type {
  font-family: 'Inter', sans-serif;
  font-size: 4rem; 
}

.clima p {
  text-align: center;
  margin: 0;
}

.clima p span {
  vertical-align: super;
  font-size: 1rem;
}

.temp_min_max {
  margin-top: 2rem;
display: flex;
justify-content: center;
gap: 2rem;
}

/* Spiner */

.chaotic-orbit {
  --uib-size: 25px;
  --uib-speed: 1.5s;
  --uib-color: black;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--uib-size);
  width: var(--uib-size);
  animation: rotate936 calc(var(--uib-speed) * 1.667) infinite linear;
 }
 
 .chaotic-orbit::before,
 .chaotic-orbit::after {
  content: '';
  position: absolute;
  height: 60%;
  width: 60%;
  border-radius: 50%;
  background-color: #0369a1;
  will-change: transform;
  flex-shrink: 0;
 }
 
 .chaotic-orbit::before {
  animation: orbit var(--uib-speed) linear infinite;
 }
 
 .chaotic-orbit::after {
  animation: orbit var(--uib-speed) linear calc(var(--uib-speed) / -2)
     infinite;
 }
 
 @keyframes rotate936 {
  0% {
   transform: rotate(0deg);
  }
 
  100% {
   transform: rotate(360deg);
  }
 }
 
 @keyframes orbit {
  0% {
   transform: translate(calc(var(--uib-size) * 0.5)) scale(0.73684);
   opacity: 0.65;
  }
 
  5% {
   transform: translate(calc(var(--uib-size) * 0.4)) scale(0.684208);
   opacity: 0.58;
  }
 
  10% {
   transform: translate(calc(var(--uib-size) * 0.3)) scale(0.631576);
   opacity: 0.51;
  }
 
  15% {
   transform: translate(calc(var(--uib-size) * 0.2)) scale(0.578944);
   opacity: 0.44;
  }
 
  20% {
   transform: translate(calc(var(--uib-size) * 0.1)) scale(0.526312);
   opacity: 0.37;
  }
 
  25% {
   transform: translate(0%) scale(0.47368);
   opacity: 0.3;
  }
 
  30% {
   transform: translate(calc(var(--uib-size) * -0.1)) scale(0.526312);
   opacity: 0.37;
  }
 
  35% {
   transform: translate(calc(var(--uib-size) * -0.2)) scale(0.578944);
   opacity: 0.44;
  }
 
  40% {
   transform: translate(calc(var(--uib-size) * -0.3)) scale(0.631576);
   opacity: 0.51;
  }
 
  45% {
   transform: translate(calc(var(--uib-size) * -0.4)) scale(0.684208);
   opacity: 0.58;
  }
 
  50% {
   transform: translate(calc(var(--uib-size) * -0.5)) scale(0.73684);
   opacity: 0.65;
  }
 
  55% {
   transform: translate(calc(var(--uib-size) * -0.4)) scale(0.789472);
   opacity: 0.72;
  }
 
  60% {
   transform: translate(calc(var(--uib-size) * -0.3)) scale(0.842104);
   opacity: 0.79;
  }
 
  65% {
   transform: translate(calc(var(--uib-size) * -0.2)) scale(0.894736);
   opacity: 0.86;
  }
 
  70% {
   transform: translate(calc(var(--uib-size) * -0.1)) scale(0.947368);
   opacity: 0.93;
  }
 
  75% {
   transform: translate(0%) scale(1);
   opacity: 1;
  }
 
  80% {
   transform: translate(calc(var(--uib-size) * 0.1)) scale(0.947368);
   opacity: 0.93;
  }
 
  85% {
   transform: translate(calc(var(--uib-size) * 0.2)) scale(0.894736);
   opacity: 0.86;
  }
 
  90% {
   transform: translate(calc(var(--uib-size) * 0.3)) scale(0.842104);
   opacity: 0.79;
  }
 
  95% {
   transform: translate(calc(var(--uib-size) * 0.4)) scale(0.789472);
   opacity: 0.72;
  }
 
  100% {
   transform: translate(calc(var(--uib-size) * 0.5)) scale(0.73684);
   opacity: 0.65;
  }
 }
 